// nextflow.config

params {
    // Input parameters
    input_dir = "/Users/Frano/Desktop/Bioinfo_2025/.../fastq_gz"
    results_dir = "./results"
    
    // Output directories
    fastqc_raw = "${params.results_dir}/fastqc_raw"
    trimmed = "${params.results_dir}/trimmed"
    multiqc_raw = "${params.results_dir}/multiqc_raw"
    multiqc_trimmed = "${params.results_dir}/multiqc_trimmed"
}

process {
    executor = 'local'
    errorStrategy = 'retry'
    maxRetries = 3
    
    withName: 'fastqc_raw' {
        cpus = 2
        memory = '2.GB'
        time = '30.min'
    }
    
    withName: 'trim_galore' {
        cpus = 4
        memory = '8.GB'
        time = '1.h'
    }
    
    withName: 'multiqc_.*' {
        cpus = 2
        memory = '4.GB'
        time = '20.min'
    }
    
    withName: 'check_md5' {
        cpus = 1
        memory = '1.GB'
        time = '10.min'
    }
}

report {
    enabled = true
    file = "${params.results_dir}/reports/nextflow_qc_report.html"
}

timeline {
    enabled = true
    file = "${params.results_dir}/reports/nextflow_qc_timeline.html"
}

trace {
    enabled = true
    file = "${params.results_dir}/reports/nextflow_qc_trace.txt"
}