// nextflow_qc.config

params {
    // Input parameters
    input_dir = "/Users/Frano/Desktop/Bioinfo_2025/250127_Doppelganger/April_2025_Bulk_RNAseq/fastq_gz"
    
    // Output directories
    results_dir = "./results"
    fastqc_raw_dir = "${params.results_dir}/fastqc_raw"
    trimmed_dir = "${params.results_dir}/trimmed"
    trimmed_reports_dir = "${params.trimmed_dir}/reports"
    fastqc_trimmed_dir = "${params.trimmed_dir}/fastqc_trimmed"
    multiqc_raw_dir = "${params.results_dir}/multiqc_raw"
    multiqc_trimmed_dir = "${params.results_dir}/multiqc_trimmed"
    nextflow_reports_dir = "${params.results_dir}/nextflow_reports"
}

process {
    executor = 'local'
    errorStrategy = 'retry'
    maxRetries = 2
    
    withName: 'fastqc_.*' {
        cpus = 2
        memory = '2.GB'
        time = '30.min'
    }
    
    withName: 'trim_galore' {
        cpus = 6
        memory = '8.GB'
        time = '1.h'
    }
    
    withName: 'multiqc_.*' {
        cpus = 2
        memory = '4.GB'
        time = '20.min'
    }
    
    withName: 'check_md5' {
        cpus = 1
        memory = '1.GB'
        time = '10.min'
    }
}

report {
    enabled = true
    file = "${params.nextflow_reports_dir}/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.nextflow_reports_dir}/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.nextflow_reports_dir}/execution_trace.txt"
    overwrite = true
}