// nextflow_align.config

params {
    projectDir = "/Users/Frano/Desktop/Bioinfo_2025/250127_Doppelganger/April_2025_Bulk_RNAseq/nextflow_alignment"
    
    // Directory paths
    genome_dir      = "${projectDir}/genome"
    fasta           = "${genome_dir}/mouse.fa"
    gtf             = "${genome_dir}/mouse.gtf"
    trimmed_dir     = "../nextflow_qc/results/trimmed"
    alignment_dir   = "${projectDir}/results/alignment"
}

process {
    executor = 'local'
    shell    = ['/bin/bash', '-euo', 'pipefail']  // Strict shell mode
    
    withName: star_genome_index {
        cpus = 4
        memory = '8.GB'        // Reduced for 8GB Mac
        time = '4h'            // Extended time for safety
        errorStrategy = 'retry'
        maxRetries = 2
    }
    
    withName: star_align {
        cpus = 2
        memory = '6.GB'
        time = '1h'
        errorStrategy = 'retry'
        maxRetries = 3
    }
}

report {
    enabled = true
    file = "${params.alignment_dir}/reports/alignment_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.alignment_dir}/reports/alignment_timeline.html"
    overwrite = true
}